// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.stfh-atom-video {
}

body .videoPanel {
  right: 0;
  position: absolute !important;
  left: auto !important;
  transform: translateX(0%);
  opacity: .7;

  transition: all .25s ease-out;

  .stfh-atom-video video {
    width: 100%;
  }
}

body .videoPanel-Hover {
  transform: translateX(~"calc(-100vw + 100%)");
}

.stfh-atom-status {
  display: inline-block;
  .message:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
